<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <h1 div class="myheader"><b>Pan Card Tempering Detector Application</b></h1>

</head>
<body>
    <p div class ="left">
        
            <b><br><br><br>The purpose of this application is to detect tampering/fraud of PAN 
            <br><br>cards using computer vision. This project will help the different 
            <br><br>organizations in detecting whether the Id i.e. the PAN card provided 
            <br><br>to them by their employees or customers or anyone is original or not.
            <br><br>This project can be used in different organizations where customers 
            <br><br>or users need to provide any kind of id in order to get themselves 
            <br><br>verified. The organization can use this project to find out whether   
            <br><br>the ID isoriginal or fake. Similarly, this can be used for any type  
            <br><br>of ID like Aadhar, voter id, etc.</b>
        
    </p>
        <form method="POST" action="http://localhost:5000/forward">
            
        <button class ="button";>Get Started for free</button>
        </form>>

    <div class = "floatleft">
    <img  src="./static/PAN2-Tampering.png" height="400" width="400">
    </div>

</body>
</html>